<div class="row m-0 mt-3 p-2">
  <div class="col-md-6">
    <p class="page-header">let's talk</p>
    <div class="divider mb-4" style="max-width: 190px"></div>
    <p class="text-light">
      I’m always open to discussing my works and open for new opportunities,
    </p>
    <p class="text-light">
      You can also,<br />
      send me an email to
      <a
        class="text-light font-weight-bold"
        href="mailto:work.christiandecembrana@gmail.com"
        >work.christiandecembrana@gmail.com</a
      >
      or download my resume below.
    </p>
    <a
      mat-stroked-button
      class="valo-button mb-4 mt-4 pulse-button"
      href="assets/files/Christian_Paul_Decembrana_CV_2025.html"
    >
      <span>My resume <i class="fa fa-download ml-3"></i></span>
    </a>
  </div>
  <!-- <div class="col-md-6">
    <form class="d-flex flex-column" #contactForm>
      <mat-form-field appearance="outline">
        <mat-label>Your Name</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput rows="8"></textarea>
      </mat-form-field>
    </form>
    <button mat-stroked-button class="valo-button float-right">
      <span>Send Message <i class="fa fa-angle-right ml-3"></i></span>
    </button>
  </div> -->
</div>

<!-- <div class="d-flex flex-column">
  <button mat-stroked-button id="resume-button">
    <span>resume <i class="fa fa-download ml-3"></i></span>
  </button>
</div> -->
