<div class="row m-0 mt-3 p-2">
  <div class="col-md-6">
    <p class="page-header">My Experties</p>
    <div class="divider mb-4" style="max-width:250px;"></div>
    <div class="d-flex flex-column">
      <div class="expertise">
        <div (click)="openWebDevDialog()" class="skill-badge">
          <img src="assets/img/logos/web_dev.png" alt="" />
        </div>
        <div class="body">
          <p>Web Development</p>
          <p>
            I like to code things from scratch, and enjoy bringing ideas to life in the browser.
          </p>
        </div>
      </div>
      <div class="expertise">
        <div (click)="openMobileDevDialog()" class="skill-badge">
          <img src="assets/img/logos/mobiledev.png" alt="" />
        </div>
        <div class="body">
          <p>Mobile Development</p>
          <p>
            Has experience in designing and developing IOS and Android applications.
          </p>
        </div>
      </div>
      <div class="expertise">
        <div class="skill-badge">
          <img src="assets/img/logos/uiux.png" alt="" />
        </div>
        <div class="body">
          <p>UI/UX Design</p>
          <p>
            Value simple content structure, clean design patterns, and thoughtful interactions.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <section class="section slide-right">
      <div class="wall">
        <div class="v-boxes">
          <div class="box">
            <span class="tooltip">Angular 9+</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/angular.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="box">
            <span class="tooltip">Bootstrap</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/bootstrap.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="box">
            <span class="tooltip">WP</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/wordpress.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="box">
            <span class="tooltip">PHP</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/php.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="v-boxes second">
          <div class="box">
            <span class="tooltip">TS</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/typescript.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="box">
            <span class="tooltip">Rest API</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/restapi.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="box">
            <span class="tooltip">Flutter</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/flutter.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="v-boxes third">
          <div class="box">
            <span class="tooltip">Material UI</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/materialdesign.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="box">
            <span class="tooltip">Android</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/android.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="v-boxes forth">
          <div class="box">
            <span class="tooltip">VS Code</span>
            <div class="box-face">
              <div class="box-text">
                <img src="assets/img/logos/vscode.png" alt="" />
              </div>
            </div>
            <div class="box-back">
              <div class="box-text">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- <div class="d-flex flex-column">
  <button mat-stroked-button id="resume-button">
    <span>resume <i class="fa fa-download ml-3"></i></span>
  </button>
</div> -->
