<section id="header-section">
  <div class="d-flex flex-column">
    <p id="header">
      Paularity
      <span>_</span>
    </p>
    <p id="sub-header">Web/Mobile Frontend Developer</p>
  </div>
  <button routerLink="/collection" mat-stroked-button class="mt-4 valo-button">
    <span>Explore <i class="fa fa-angle-right ml-3"></i></span>
  </button>
  <div class="d-flex flex-row mt-4">
    <a
      mat-fab
      class="fab-btn"
      target="_blank"
      href="https://www.facebook.com/paularityy/"
    >
      <span><i class="fa fa-facebook fa-lg"></i></span>
    </a>
    <a
      mat-fab
      class="fab-btn mx-3"
      target="_blank"
      href="https://www.linkedin.com/in/paularity/"
    >
      <span><i class="fa fa-linkedin fa-lg"></i></span>
    </a>
    <a
      mat-fab
      class="fab-btn"
      target="_blank"
      href="https://twitter.com/zapaul33"
    >
      <span><i class="fa fa-twitter fa-lg"></i></span>
    </a>
  </div>
</section>
