<mat-toolbar class="primary-bg">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Paularity</span>
</mat-toolbar>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<div class="fluid-container secondary-bg p-3">
  <div class="row m-0 p-0">
    <div class="col-12 p-3 bg-success">Try</div>
    <div class="col-6 p-3 bg-danger">For</div>
    <div class="col-6 p-3 bg-warning">Me</div>
  </div>
</div>
