<div class="container bg-dark text-light p-4">
  <h1>TOPIC: {{selectedTopic.topic}} - {{selectedTopic.date}}</h1>

  <div class="w-100 text-center my-5"><iframe class="m-auto" [src]="selectedTopic.video_url | safe" width="560"
      height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  </div>
  <hr class="bg-light">
  <ul *ngFor="let verse of selectedTopic.verses">
    <li>
      <p class="font-weight-bold">{{ verse.key }} - {{verse.title}}</p>
      <div class="p-4 text-dark bg-light font-italic rounded">
        <p *ngFor="let value of verse.values">- {{ value }}</p>
      </div>
    </li>
  </ul>
</div>
